{{#if resume.education.length}}
<section>
  <h2 id="education" class="h3 faded hr">
    Education
    <span class="symbol icon-library"></span>
  </h2>
  {{#each resume.education}}
  <section>
    <header class="{{#unless @first}}mt3{{/unless}}">
      {{#if startDate.length}}
        <p class="faded">
          <time datetime="{{startDate}}">{{formattedDate startDate}}</time>
          –
          {{#if endDate.length}}
            <time datetime="{{endDate}}">{{formattedDate endDate}}</time>
          {{else}}
            <em>present</em>
          {{/if}}
        </p>
      {{/if}}
      <h3 class="h4 faded" {{#if endDate.length }}property="alumniOf" typeof="EducationalOrganization"{{/if}}>
        <span class="bc">{{studyType}}</span>
        in
        <span class="bc">{{area}}</span>
        from
        <span class="bc" {{#if endDate.length}}property="name"{{/if}}>{{institution}}</span>
        with GPA of
        <span class="bc">{{gpa}}</span>
      </h3>
    </header>

    <h4 class="sr-only">Courses</h4>
    <ul>
      {{#each courses}}
        <li>{{.}}</li>
      {{/each}}
    </ul>
  </section>
  {{/each}}
</section>
{{/if}}
