{{#if resume.skills.length}}
<section>
  <h2 id="skills" class="h3 faded hr">
    Skills
    <span class="symbol icon-wrench"></span>
  </h2>
  <dl class="skills">
    {{#each resume.skills}}
      <dt class="h4 fl">{{name}}</dt>
      <dd class="faded clearafter">
        <div class="fr">
          <span class="sr-only">Level:</span>
          {{#switch level}}
            {{#case "3" "master" "expert" "senior" "professional" break=true}}
              <span class="help" title="{{level}}">
                <span class="sr-only">{{level}}</span>
                <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-full"></span>
              </span>
            {{/case}}
            {{#case "2" "intermediate" "amateur" break=true}}
              <span class="help" title="{{level}}">
                <span class="sr-only">{{level}}</span>
                <span class="icon-star-full"></span><span class="icon-star-full"></span><span class="icon-star-empty"></span>
              </span>
            {{/case}}
            {{#case "1" "beginner" "novice" "junior" break=true}}
              <span class="help" title="{{level}}">
                <span class="sr-only">{{level}}</span>
                <span class="icon-star-full"></span><span class="icon-star-empty"></span><span class="icon-star-empty"></span>
              </span>
            {{/case}}
            {{#case "0" break=true}}
              <span class="help" title="{{level}}">
                <span class="sr-only">{{level}}</span>
                <span class="icon-star-empty"></span><span class="icon-star-empty"></span><span class="icon-star-empty"></span>
              </span>
            {{/case}}
            {{#default}}
              {{ level }}
            {{/default}}
          {{/switch}}
        </div>
        {{#if keywords.length}}
          <div>
            <span class="sr-only">Keywords:</span>
            <ul class="tags">
              {{#each keywords}}
                <li class="tag">{{.}}</li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </dd>
    {{/each}}
  </dl>
</section>
{{/if}}
